body{
    background-image : url(fondo.jpg);
}
h1{
    color: rgb(1, 71, 1);  
    background-color: rgba(179, 230, 188, 0.507);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
.encabezado{
    font-family: fantasy;
    font-size: 500%;
    border: 2px solid green;
    width: 100%;
    color: rgba(4, 90, 4, 0.856);    
}